body {
    margin: 0px auto;
    font-family: Arial;
}

#cabecera {
    text-align: center;
}
#menu ul {
    list-style: none;
    margin: 0px auto;
    text-align: center;
}
#menu ul li {
    display: inline-block;
    margin-right: 10px;
}
#menu ul li a {
    display: block;
    padding: 8px;
}
h2 {
    text-align: center;
}
.cuerpo {
    border: 1px groove blue;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 50%;
}
.textos {
    display: inline-block;
    width: 45%;
    margin: 5px;
    text-align: right;
}
.boton {
    margin-top: 12px;
    text-align: center;
}
#cmdEnviar {
    padding: 10px;
    width: 100px;
}
#cmdEnviar:hover {
    cursor: pointer;
}
#rblSexEmp {
    display: inline;
    vertical-align: bottom;
}

/*Empleados calendar*/
.cuerpo-calendar {
    border: 1px groove #FF0000;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 75%;
}
.valores {
    width: 60%;
    text-align: center;
    margin: 20px auto;
}
.errores {
    width: 60%;
    background: #f13c3cde;
    text-align: center;
    margin: 20px auto;
}
.antiguedad {
    display: inline-block;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px auto;
}
.flex-content {
    margin: 10px;
}